<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Burger Devourer!</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">

</head>

<body>
    {{{body}}}

    <div>
        <img src="/assets/img/animated_burger.webp" width="300" class="auth-image" alt="Giant Burger" id="animatedburger">
        <img src="/assets/img/machinegun_burger.webp" width="300" class="auth-image" alt="Giant Burger" id="machinegun">
        <img src="/assets/img/crazy_burger.webp" width="300" class="auth-image" alt="Crazy Burger" id="crazyburger">
        <img src="/assets/img/bouncy_burger.webp" width="300" class="auth-image" alt="Bouncy Burger" id="bouncyburger">

    </div>
</body>

</html>